<div class="container">
  <h1>Problemas sobre la tabla periódica</h1>

  <ol>
    <!-- 1 -->
    <li>
      Determinar la energía de la última ionización del halógeno de menor radio
      atómico (en KJ/mol)
    </li>

    <!-- 2 -->
    <li>
      <ng-katex-paragraph [paragraph]="parrafoEjercicio2"></ng-katex-paragraph>
    </li>

    <!-- 3 -->
    <li>
      Determinar la configuración electrónica del ión divalente negativo del no
      metal correspondiente al período del K.
    </li>

    <!-- 4 -->
    <li>
      Ubicar en la tabla periódica al elemento cuyos estados de oxidación son -2
      y -1.
    </li>

    <!-- 5 -->
    <li>
      Encontrar el bloque y el grupo del elemento con mayor número de electrones
      desaparea del cuarto período.
    </li>

    <!-- 6 -->
    <li>
      <ng-katex-paragraph [paragraph]="parrafoEjercicio6"></ng-katex-paragraph>
    </li>

    <!-- 7 -->
    <li>
      Los elementos A y B son consecutivos en la tabla y los números cuánticos
      del último electron son:

      <ng-katex [equation]="tablaEjercicio7" [options]="options"></ng-katex>

      ¿Cuál sería su número atómico? ¿En qué bloque, período y grupo se ubicarán
      estos dos elementos?
    </li>

    <!-- 8 -->
    <li>
      Dados los elementos Sn, Cl, Cs, In, ordenarlos de menor a mayor
      electronegatividad.
    </li>

    <!-- 9 -->
    <li>
      Escribir los números cuánticos de los dos útlimos electrones del elemento
      metálico de mayor afinidad electrónica del tercer período.
    </li>

    <!-- 10 -->
    <li>
      Dados los elementos de números atómicos 19, 31, 35, 55, 85.
      <ol style="list-style: lower-latin">
        <li>Indicar el bloque, período y grupo de cada uno.</li>
        <li>
          Cuál es el de mayor energía de ionización y cuál es el de mayor
          carácter metálico.
        </li>
        <li>Ordenarlos de menor a mayor electronegatividad.</li>
        <li>
          Cuál es el de menor radio atómico y cuál es el de menor afinidad
          electrónica.
        </li>
        <li>Indicar un estado de oxidación para cada elemento.</li>
      </ol>
    </li>

    <!-- 11 -->
    <li>
      Si el npumero cuántico de spin pudiera tomar los valores: +1/2, -1/2, 1
      determinar el número atómico del elemento que perteneciendo al mismo
      grupo, se ubica inmediatamente debajo del elemento de número atómico 21.
      Asumir que los otros números cuánticos siguen las reglas usuales.
    </li>

    <!-- 12 -->
    <li>
      Los dos últimos electrones de los elementos A, B, C tienen los números
      cuánticos siguientes:

      <ng-katex [equation]="tablaEjercicio12" [options]="options"></ng-katex>

      <ol style="list-style: lower-latin">
        <li>
          Cuáles son las configuraciones electrónicas y los números atómicos de
          cada uno.
        </li>
        <li>Indique el bloque, período y grupo en el que se encuentran.</li>
        <li>
          <ng-katex-paragraph
            [paragraph]="parrafoEjercicio12_c"
          ></ng-katex-paragraph>
        </li>
        <li>
          ¿Cuál es el elemento de menor carácter metálico?¿Cuál es el más
          electronegativo?
        </li>
      </ol>
    </li>

    <!-- 13 -->
    <li>
      Cuáles son los números cuánticos de los tres últimos electrones de los
      elementos cuyos Z son 26, 55 y 83.
    </li>

    <!-- 14 -->
    <li>
      <ng-katex-paragraph [paragraph]="parrafoEjercicio14"></ng-katex-paragraph>

      <ol style="list-style: lower-latin">
        <li>Ubicación (bloque, período y grupo) e identificación.</li>
        <li>Configuración electrónica.</li>
        <li>Ordenarlos de mayor a menor electronegatividad.</li>
        <li>Ordenarlos de menor a mayor carácter metálico.</li>
      </ol>
    </li>
  </ol>
</div>
