<div class="container">
  <h1>Bienvenido a la sección de Química</h1>
  <hr />
  <div nz-row style="width: 100%">
    <div nz-col nzSpan="10">
      <img width="100%" src="assets/img/grande_cohelo.jpg" alt="Grande Paulo" />
    </div>

    <div nz-col nzSpan="14" style="text-align: justify">
      <h2 style="margin-left: 10%">¿Qué es?</h2>
      <p style="margin-left: 10%">
        La química es la ciencia natural que estudia la composición, estructura
        y propiedades de la materia ya sea en forma de elementos, compuestos,
        mezclas u otras especies, así como los cambios que esta experimenta
        durante las reacciones y su relación con la energía química.​ Linus
        Pauling la define como la ciencia que estudia las sustancias, su
        estructura (tipos y formas de acomodo de los átomos), sus propiedades y
        las reacciones que las transforman en otras sustancias en referencia con
        el tiempo.​ La química se ocupa principalmente de las agrupaciones
        supratómicas, como son los gases, las moléculas, los cristales y los
        metales, estudiando su composición, propiedades estadísticas,
        transformaciones y reacciones. La química también incluye la comprensión
        de las propiedades e interacciones de la materia a escala atómica.
      </p>
    </div>
  </div>
</div>
