<div class="container">
  <h1>Ubicación de un elemento en la tabla</h1>
  <p>
    Se puede establecer el bloque, periodo y grupo de cualquier elemento a
    partir de su configuración electrónica (dado su Z) considerando que:
  </p>
  <p>
    El <b>período</b> viene dado por el mayor valor de n (1 a 7) que tiene su
    configuración electrónica
  </p>
  <p>
    El <b>bloque</b> viene dado por el tipo de electrones que tiene el elemento
    en su último subnivel (puede ser s, p, d, f)
  </p>
  <p>
    El <b>grupo o familia</b> para elementos de los grupos A (bloques s, p)
    viene dado por el número total de electrones en el último nivel. Cuando el
    elemento está en el bloque d, el grupo es Secundario o B y se establece de
    acuerdo a la configuración del último (o dos últimos) subnivel; considerando
    que:
  </p>

  <ng-katex [equation]="equation" [options]="options"></ng-katex>

  <p>
    A los elementos del bloque d se les denomina elementos de transición,
    mientras que para el bloque f o elementos de transición interna, no se
    hablan de grupos (divisiones verticales) sino que al estar en el periodo 6
    son
    <b>lantánidos</b>, y si están en el período 7 son <b>actínidos</b>.
  </p>
  <p>
    En los siguientes ejercicios se aplican estos criterios, para ubicar a los
    elementos químicos en la Tabla Periódica:
  </p>

  <p>Econtrar el bloque, período y grupo de:</p>

  <ng-katex [equation]="equation2" [options]="options"></ng-katex>

  <h2>Tabla periódica</h2>

  <img src="assets/svg/tabla_periodica.svg" />
  <br />
  <br />
  <p>
    La mayoría de elementos de la tabla son metales y están separados de los no
    metales por una diagonal escalonada que va desde el B hasta el At; los
    aproximadamente 15 no metales ocupan el extremo superior derecho de la
    tabla. Algunos elementos que se ubican junto a esta diagonal son
    <b>semimetales</b> es decir que tienen algunas propiedades de los metales y
    otras de los no metales, entre ellos tenemos al Si, Ge, Sb, Po.
  </p>
  <p>
    A lo largo de la tabla se observa en cada periodo, una variación paulatina
    de las propiedades pues, comienza con un metal siguen otros metales luego
    los no metales y termina el periodo con un gas noble, luego del cual aparece
    un metal y así sucesivamente.
  </p>
  <p>
    En los grupos o familias en cambio hay una repetición de propiedades sobre
    todo en los grupos A, y un elemento ubicado debajo de otro tiene la misma
    configuración electrónica de la última subcapa que el primero.
  </p>
  <p>
    Así mismo la mayoría de elementos son sólidos en condiciones ambientales,
    hay 4 líquidos: Cs, Fr. Hg, Br; y entre los elementos gaseosos tenemos: H,
    N, O, F, Cl, y los gases nobles o grupo O.
  </p>

  <ng-katex-paragraph [paragraph]="parrafo"></ng-katex-paragraph>
  <ng-katex [equation]="equation3" [options]="options"></ng-katex>

  <p>
    Al escribir las configuraciones electrónicas, se puede utilizar el símbolo
    del gas noble anterior al elemento considerado, y luego se escriben las
    últimas (última) subcapas. Se debe recordar que los números atómicos de los
    gases nobles He, Ne, Ar, Xe y Rn son respectivamente: 2, 10, 18, 36, 54 y
    86.
  </p>
  <p>
    En los siguientes ejemplos se utiliza ésta forma, y se considera que son
    caso especiales:
  </p>

  <ng-katex [equation]="equation4" [options]="options"></ng-katex>

  <p>
    Se indican a continuación ciertas propiedades de importancia sobre todo para
    el Enlace Atómico, señalando especialmente su
    <b>variación en la tabla periódica</b>.
  </p>
</div>
