<div class="container p-5">
  <div class="row">
    <div class="col-sm-8">
      <p class="text-center">{{ currentQuiz + 1 }} de {{ quizzes.length }}</p>
      <h1>{{ quizzes[currentQuiz].question }}</h1>

      <ul class="list-group" *ngFor="let quiz of quizzes[currentQuiz].answer">
        <label>
          <li class="list-group-item">
            <input
              type="radio"
              name="options"
              id="options"
              (change)="onAnswer(quiz.correct)"
              [disabled]="answerSelected"
            />
            {{ quiz.option }}
          </li>
        </label>
      </ul>
    </div>
  </div>
</div>
