<div class="container p-5">
  <div class="row">
    <div class="col-sm-8">
      <div *ngIf="currentQuiz < 4">
        <p class="text-center">{{ currentQuiz + 1 }} de {{ quizzes.length }}</p>
        <h1>{{ quizzes[currentQuiz].question }}</h1>
  
        <ul class="list-group" *ngFor="let quiz of quizzes[currentQuiz].answer">
          <label>
            <li class="list-group-item" appBackground [correctAnswer]="quiz.correct" >
              <input
                type="radio"
                name="options"
                id="options"
                (change)="onAnswer(quiz.correct)"
                [disabled]="answerSelected"
              />
              {{ quiz.option }}
            </li>
          </label>
        </ul>
      </div>
      <div *ngIf="currentQuiz > 3">
        <button class="btn btn-success col-12" (click)="showResult()">Mostrar resultados</button>
        <div *ngIf="result">
          Respuestas correctas: {{ correctAnswers }} | Respuestas incorrectas: {{ incorrectAnswers }}
        </div>
      </div>
    </div>
  </div>
</div>
