<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Moodle en Angular</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Química" nzIcon="experiment">
        <ul>
          <li nz-submenu nzTitle="Tabla Periódica">
            <ul>
              <li nzMatchRouter nz-menu-item>
                <a routerLink="/quimica/generalidades-desarrollo">
                  Generalidades y desarrollo histórico</a
                >
              </li>
              <li nzMatchRouter nz-menu-item>
                <a routerLink="/quimica/ubicacion-elemento">
                  Ubicación de un elemento en la tabla
                </a>
              </li>
              <li nzMatchRouter nz-menu-item>
                <a routerLink="/quimica/propiedades-variacion">
                  Propiedades y variación
                </a>
              </li>
            </ul>
          </li>

          <li nz-submenu nzTitle="Ejercicios">
            <ul>
              <li nzMatchRouter nz-menu-item>
                <a routerLink="/quimica/ejercicios-propuestos">
                  Ejercicios Propuestos</a
                >
              </li>
              <li nzMatchRouter nz-menu-item>
                <a routerLink="/quimica/ejercicios-resueltos">
                  Ejercicios Resueltos
                </a>
              </li>
              <li nzMatchRouter nz-menu-item>
                <a routerLink="/quimica/quiz">
                  Quiz
                </a>
              </li>
            </ul>
          </li>
          <!-- </li> -->
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content nzBreakpoint>
      <div class="inner-content" style="overflow: scroll">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
