<div class="container">
  <h1>Propiedades y Variación</h1>

  <h2>Energía de Ionización</h2>
  <p>
    Es la energía que se requiere para arrancar un electrón de un átomo gaseoso.
    Si para el Li utilizamos la ecuación:
  </p>

  <ng-katex [equation]="eqEnergiaIonizacion1" [options]="options"></ng-katex>

  <ng-katex-paragraph [paragraph]="parrafoEnergiaIon1"></ng-katex-paragraph>

  <p>
    Los valores de Ei se pueden expresar también en Kcal/mol o eV/átomo y
    dependen de la fuerza de atracción efectiva entre el núcleo y el electrón
    más externo que se trate de arrancar. También interviene la fuerza de
    repulsión entre los electrones y el denominado "electo de pantalla" que es
    el obstáculo que presentan as capas electrónicas internas que impiden una
    buena atracción entre el núcleo y los electrones de valencia. Se puede
    relacionar esta propiedad, con un caso extremo de las transiciones o saltos
    electrónicos hasta el nivel infinito, cuya energía es cero. Recordando la
    expresión estudiada en los postulados de Bohr, válida para especies químicas
    similares al H:
  </p>

  <ng-katex [equation]="eqEnergiaIonizacion2" [options]="options"></ng-katex>

  <ng-katex-paragraph [paragraph]="parrafoEnergiaIon2"></ng-katex-paragraph>

  <ng-katex [equation]="eqEnergiaIonizacion3" [options]="options"></ng-katex>

  <ng-katex-paragraph [paragraph]="parrafoEnergiaIon3"></ng-katex-paragraph>

  <p>
    Los valores de Ei determinados experimentalmente para los elementos de la
    tabla son siempre positivos, ya que existe un gasto o consumo de energía en
    el proceso; el elemento de máxima Ei es el He (2372 KJ/mol) y el de mínima
    Ei es el Cs (377 KJ/mol). En la tabla 3.1 se indican las energías de
    Ionización (KJ/mol) de los 12 primeros elementos
  </p>

  <!-- Aqui va la tabla 3.1 arkano sigue haciendo  -->
  <img
    src="https://www.fqdomingomiral.com/fqdmiral/QUI2BAC/QUI2BAC%20Tema%207%20Estructura%20atomica%20y%20sistema%20periodico/EI_sucesivas.jpg"
    alt="equis de"
    style="width: 80%; align-self: center"
  />
</div>
