<div class="container">
  <h1>Ejercicios de Ejemplo</h1>

  <ol>
    <!-- 1 -->
    <li>
      <ng-katex-paragraph [paragraph]="parrafoEjercicio1"></ng-katex-paragraph>
      <ol style="list-style: lower-latin">
        <li>Z = 14</li>
        <li>Número de masa igual a 8</li>
        <li>34 electrones</li>
        <li>5 electrones desapareados</li>
        <li>Ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio1.png" alt="Ejercicio 1" />
    </li>

    <!-- 2 -->
    <li>
      El estado cuántico para el penúltimo electrón del elemento A, es
      3,1,1,-1/2; entonces, A pertenece al:
      <ol style="list-style: lower-latin">
        <li>bloque d</li>
        <li>Bloque s</li>
        <li>bloque p</li>
        <li>bloque f</li>
        <li>Ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio2.jpg" alt="Ejercicio 2" width="75%" />
    </li>

    <!-- 3 -->
    <li>
      <ng-katex-paragraph [paragraph]="parrafoEjercicio3"></ng-katex-paragraph>
      <ol style="list-style: lower-latin">
        <li>es un metal</li>
        <li>tiene un estado de oxidación máximo de +6</li>
        <li>es un halógeno</li>
        <li>se encuentra en el grupo del fósforo</li>
        <li>ninguna respuesto</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio3.png" alt="Ejercicio 2" width="75%" />
    </li>

    <!-- 4 -->
    <li>
      La configuración electrónica del elemento X termina en 3d1; entonces X se
      encuentra ubicado en:
      <ol style="list-style: lower-latin">
        <li>periodo 3</li>
        <li>grupo 1B</li>
        <li>bloque f</li>
        <li>grupo IIIB</li>
        <li>período 5, bloque s</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio4.jpg" alt="Ejercicio 4" width="75%" />
    </li>

    <!-- 5 -->
    <li>
      El elemento cuyo estado de oxidación es -2:
      <ol style="list-style: lower-latin">
        <li>puede ser un halógeno</li>
        <li>
          los números cuánticos del último electrón pueden ser: 2, 1,-1, +1/2
        </li>
        <li>su energía de ionización puede ser menor que el nitrógeno</li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio5.png" alt="Ejercicio 2" width="75%" />
    </li>

    <!-- 6 -->
    <li>
      <ng-katex-paragraph [paragraph]="parrafoEjercicio6"></ng-katex-paragraph>
      <ol style="list-style: lower-latin">
        <li>corresponde a un metal alcalino</li>
        <li>su ion divalente tiene su configuración electrónica [Ne] 3s</li>
        <li>presenta una menor conductividad eléctrica que el azufre</li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio6.png" alt="Ejercicio 6" width="75%" />
    </li>

    <!-- 7 -->
    <li>
      Dados los siguientes elementos: A, elemento de menor número atómico con el
      subnivel d a medio llenar; y, B, semimetal de mayor radio atómico, con
      estado de oxidación +4. Entonces:
      <ol style="list-style: lower-latin">
        <li>A tiene menor radio atómico</li>
        <li>B tiene menor energía de ionización</li>
        <li>el caracter metálico de A es menor que el de B</li>
        <li>La electronegatividad de B es mayor que la del arsénico</li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio7.png" alt="Ejercicio 7" width="75%" />
    </li>

    <!-- 8 -->
    <li>
      Considere que el número cuántico magnético toma valores positivos y cero,
      y los demás cumplen con lo estipulado por la teoría, entonces:
      <ol style="list-style: lower-latin">
        <li>el subnivel d tendrá 4 orbitales</li>
        <li>el subnivel f dispondrá como máximo de 6 electrones</li>
        <li>el tercer nivel energético tendrá un máximo de 12 electrones</li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio8.png" alt="Ejercicio 8" width="75%" />
    </li>

    <!-- 9 -->
    <li>
      Si el estado cuántico del último electrón en la configuración electrónica
      de cierto elemento es 2, 1, 0, -1/2, dicho:
      <ol style="list-style: lower-latin">
        <li>es el de mayor energía ionización de su período</li>
        <li>tiene su único estado de oxidación igual a -1</li>
        <li>
          forma un ión monovalente cuyo volúmen es mayor que el del ion
          monovalente del sodio
        </li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio9.png" alt="Ejercicio 9" width="75%" />
    </li>

    <!-- 10 -->
    <li>
      Considere el conjunto de iones cuyas configuraciones electrónicas
      corresponden a la del Ar, entonces el mayor radio corresponde:
      <ol style="list-style: lower-latin">
        <li>a uno de los iones negativos</li>
        <li>al ión de número atómico menor</li>
        <li>al ión de número atómico mayor</li>
        <li>al ión de menor número atómico</li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio10.png" alt="Ejercicio 10" width="75%" />
    </li>

    <!-- 11 -->
    <li>
      El elemento que empieza a llenar el subnivel 4p:
      <ol style="list-style: lower-latin">
        <li>
          tiene mayor carácter metálico que el elemento que completa el subnivel
          4s
        </li>
        <li>tiene menor energía de ionización que el Br</li>
        <li>tiene tres electrones desapareados</li>
        <li>pertenece al grupo IIIB</li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio11.png" alt="Ejercicio 11" width="75%" />
    </li>

    <!-- 12 -->
    <li>
      La suma (n+1) del subnivel de mayor energía de un elemento del bloque d es
      5, entonces el elemento es:
      <ol style="list-style: lower-latin">
        <li>del cuarto período</li>
        <li>semimetal</li>
        <li>más electronegativo que el Br</li>
        <li>de mayor energía de ionización que el Kr</li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio12.png" alt="Ejercicio 12" width="75%" />
    </li>

    <!-- 13 -->
    <li>
      El elemento Z=29:
      <ol style="list-style: lower-latin">
        <li>forma un anión divalente</li>
        <li>es un buen conductor eléctrico</li>
        <li>presenta en su distribución electrónica un electrón desapareado</li>
        <li>tiene una energía de ionización mayor que la del Kr</li>
        <li>ninguna respuesta</li>
      </ol>

      <!-- Solucion -->
      <img src="assets/img/solEjercicio11.png" alt="Ejercicio 13" width="75%" />
    </li>

    <!-- 14 -->
    <li>
      En los siguientes elementos: A, B, C determinar:
      <ol style="list-style: lower-latin">
        <li>
          Nombre del elemento A, sabiendo que la energía de ionización del
          hidrógenión es 294886 Kj/mol
        </li>
        <li>
          La ubicación del elemento B en la tabla, si el estado cuántico del
          penúltimo electrón es 4, 1, 1, +1/2
        </li>
        <li>
          <ng-katex-paragraph
            [paragraph]="parrafoLiteralCejercicio14"
          ></ng-katex-paragraph>
        </li>
      </ol>

      <!-- Solucion -->
      <img
        src="assets/img/solEjercicio14_a.png"
        alt="Ejercicio 14 - a"
        width="75%"
      />
      <img
        src="assets/img/solEjercicio14_b.png"
        alt="Ejercicio 14 - b"
        width="75%"
      />
      <br />
      c)
      <img
        src="assets/img/solEjercicio14_c.png"
        alt="Ejercicio 14 - c"
        width="75%"
      />
    </li>
  </ol>
</div>
