<div class="container">
  <h1>Generalidades y desarrollo histórico</h1>

  <p>
    Es el conjunto de todos los elementos químicos ordenados según su número
    Atómico creciente. Contiene 105 elementos ubicados en 7 periodos, 16 grupos
    o familias y 4 bloques.
    <br />
    <br />
    Las 7 filas o divisiones horizontales son los periodos, a los que se les
    designa con números del 1 la 7 o con letras mayúsculas desde la K hasta la
    Q. Contiene un distinto número de elementos y a veces se les denomina en
    función de este número:
  </p>

  <ng-katex [equation]="equation" [options]="options"></ng-katex>

  <p>
    La tabla periódica contiene 18 columnas o divisiones verticales que forman
    los 16 grupos o familias. El grupo VII B está formado por 3 columnas, y las
    familias se dividen en 8 principales o “A” y 8 en secundarias o “B”. Los
    bloques son conjunto s de familias cuyos elementos se caracterizan por tener
    el mismo tipo de electrones en la última capa, y se denominan con las
    letras: s, p, d, f, empleadas para designar al número cuántico secundario.
    <br /><br />
    De todos los elementos de la Tabla, hay 92 naturales y 13 artificiales o
    transuránidos. Los primeros comprenden del H (Z=1) al U (Z=92) aunque el Tc
    (Z=43) no se lo encuentra en la naturaleza. Los otros tienen una vida media
    de fracciones de segundo y en algunas tablas no existen el Ku (Kurchartovio)
    y el Ha (Hahnio) de números atómicos 104 y 105 respectivamente.
  </p>

  <br />
  <h2>Desarrollo Histórico</h2>

  <p>
    La tabla periódica moderna es el resultado de varios intentos de clasificar
    a los elementos químicos conocidos. En el siglo XIX al conocer más elementos
    y estudiar mejor sus propiedades surgió la necesidad de agruparles
    sistemáticamente. Varios científicos propusieron diversas formas de ordenar
    a los elementos, y a continuación se menciona los más importantes:
    <br />
    <br />
    Dobereiner encuentra grupos de tres elementos (triádas) con propiedades
    similares entra sí y en los cuales el elemento intermedio tenía un. peso que
    era el promedio de los pesos de los elementos extremos. Alrededor del año
    1.829 se tenían varias triádas las del Ca, Sr y Ba; Li, Na y K; Cl, Br y l;
    S, Se y Te etc.
    <br /><br />
    En 1.862, Chancurtois colocó a los elementos conocidos de acuerdo a sus
    pesos atómicos crecientes, en una línea arrollada helicoidalmente sobre un
    cilindro, de modo que los elementas situados sobre una misma vertical tenían
    propiedades similares. Pese a las coincidencias que mostraban los elementos
    de esta tabla periódica en espiral, no tuvo mayor aceptación.
    <br />
    <br />
    En 1.864, un Químico inglés R. Newlands, con el mismo criterio de
    Chancurtois, establece que existen grupos de 8 elementos en los cuales el
    octavo es prácticamente una repetición del primero (octaves de Newlands).
    Por ejemplo, al considerar los elementos Na, Mg, Al, Si, P, S. Cl y K este
    último tiene propiedades similares al Na y si luego se ubica el Ca viene a
    ser una repetición del Mg como si se trataran de Ias notas musicales. Al
    avanzar con el resto de los elementos ya no se cumplía que el octavo
    elemento pertenece a misma familia, y su trabajo no fue aceptado.
    <br />
    <br />
    Posteriormente, el Ruso Dimitri Mendeleief, establece en 1869 la "ley
    periódica" que permite ordenar a los elementos en Ia table periódica actual.
    Según sus propias palabras: "Disponiendo a los elementos conforme a sus
    pesos atómicos crecientes se obtiene una repetición periódica de
    propiedades". El mérito de Mendeleief radica en que dejó muchos espacios
    vacíos en su tabla donde se ubicarían los elementos aún no conocidos de las
    diferentes familias, y predijo las propiedades de estos con gran exactitud.
    <br />
    <br />
    Algo similar realizó el alemán Lothar Meyer que construyó un sistema
    periódico con 56 elementos que mostraba que algunas propiedades eran función
    periódica de la masa atómica. Sus trabajos fueron publicados en 1.870.
    <br />
    <br />
    En 1914, el científico Ingles Henry Moseley observó que al representar Ia
    raíz cuadrada de Ia frecuencia de los rayos X frente al peso atómico habían
    tres pares de elementos que no estaban en línea recta, pero al utilizar el
    número de orden de la tabla en lugar del peso atómico todos los elementos
    caían en línea recta, por lo tanto las propiedades de los elementos químicos
    son una función periódica (cíclica) del número atómico.
    <br />
    <br />
    La base científica de la table periódica radica en la distribución de los
    electrones en un átomo, hay una estrecha relación entre la estructura del
    átomo y la ubicación de los elementos en la tabla. Las propiedades químicas
    de un átomo dependen de la configuración electrónica de su capa más externa
    o capa de valencia y el orden de llenado de los diferentes subniveles
    predice los Períodos de la tabla. Los elementos que tienen igual
    configuración electrónica están en un mismo grupo o familia.
  </p>
</div>
